@define-mixin atSmall {
    @media(min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media(min-width: 768px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media(min-width: 1200px) {
        @mixin-content;
    }
}

@define-mixin form {
    text-align: center;
    display: block;
    color: #464F55;
    outline: none;
    border: 2px solid #C0CCCC;
    transition: 1s;
    text-align: left;
}

@define-mixin focus {
    border: 2px solid #4D77FF;
}


/* display-flex */

@define-mixin d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--b {
        flex-basis: 320px;
        @mixin atLarge {
            flex-basis: 722px;
        }
    }
    &--colm {
        flex-direction: column;
        @mixin atLarge {
            flex-direction: row;
        }
    }
}