.design {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(254px, 1fr));
    grid-row-gap: 15px;
    @mixin atLarge {
        grid-template-columns: repeat(auto-fit, minmax(318px, 1fr));
        grid-column-gap: 10px;
        grid-row-gap: 10px;
    }
}