.filter {
    @mixin d-flex;
    height: 70px;
    width: auto;
    /* Filter JS Menu Start */
    &_content {
        &_inner {
            @mixin atLarge {}
        }
        &_container {
            /* filter pop-up header */
            &--header {
                &>h2 {}
            }
            &--line {}
            &--body {}
            /* filter pop-up body */
        }
    }
    /* Filter JS Menu End */
    &_text {
        display: flex;
        gap: 5px;
    }
    /* ! -marks on Mobile Filter */
    &_i {
        align-self: center;
        @mixin atLarge {
            display: none;
        }
    }
    /* ! -marks on Mobile Filter End */
    &_p1 {
        font-weight: 500 !important;
        display: flex;
        align-items: center;
        color: #464F55 !important;
        font-weight: 500 !important;
        @mixin atLarge {
            font-size: 16px !important;
        }
    }
    /* right-side filter */
    &_aside {
        @mixin d-flex;
        &_img {
            padding-right: 10px;
            padding-top: 5px;
        }
        &_text {
            font-size: 12.5px !important;
            font-weight: 600;
            @mixin atLarge {
                padding-right: 10px;
            }
        }
    }
}

button {
    position: relative;
    border: none;
    background-color: transparent;
}