.filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: auto;
    &_p1 {
        font-weight: 500 !important;
        display: flex;
        align-items: center;
        color: #464F55 !important;
        font-weight: 500 !important;
        font-size: 16px !important;
    }
    /* right-side filter */
    &_aside {
        display: flex;
        align-items: center;
        &_img {
            padding-right: 10px;
            padding-top: 5px;
        }
        &_text {
            padding-right: 10px;
            font-size: 12.5px !important;
            font-weight: 600;
        }
    }
}