    .header {
        padding-top: 16px;
        @mixin atLarge {
            padding-top: 0
        }
        @mixin d-flex;
        &_p {
            opacity: 0;
            position: absolute;
            z-index: -1;
            @mixin atLarge {
                opacity: 1;
                position: relative;
                z-index: 1;
                font-size: 14px !important;
                line-height: 32px !important;
                color: #253858;
            }
        }
        /* Sign-In-Options */
        &-sign-in-option {
            opacity: 0;
            position: absolute;
            z-index: -1;
            @mixin atLarge {
                opacity: 1;
                position: relative;
                z-index: 1;
            }
            &_logo {
                position: absolute;
                top: 19px;
                left: 12px;
                width: 16.64px;
                height: 20px;
            }
            &_text {
                @mixin atLarge {
                    padding-top: 25px;
                    font-size: 12px !important;
                    line-height: 15px !important;
                    font-weight: 500;
                }
            }
        }
        /* menu icon */
        &_menu-icon {
            cursor: pointer;
            @mixin atLarge {
                display: none;
            }
        }
    }