.profile {
    background-color: #fff;
    width: 320px;
    height: 138.38px;
    position: relative;
    @mixin atLarge {
        width: 390px;
    }
    &_img {
        position: absolute;
        top: 13px;
        left: 25px;
    }
    &_name {
        font-weight: 600 !important;
        font-size: 12px !important;
        position: absolute;
        top: 1px;
        left: 58px;
    }
    &_subname {
        font-size: 10px !important;
        position: absolute;
        top: 13px;
        left: 58px;
    }
    &_chevron {
        position: absolute;
        top: 11px;
        right: 18px;
    }
    &_form1 {
        position: absolute;
        top: 45px;
        left: 25px;
        width: 278px;
        height: 25px;
        @mixin form;
        @mixin atLarge {
            width: 338px;
        }
        &:focus {
            @mixin focus;
        }
    }
    &_form2 {
        position: absolute;
        width: 125px;
        height: 25px;
        left: 25px;
        top: 74.66px;
        @mixin form;
        &:focus {
            @mixin focus;
        }
    }
    &_form3 {
        position: absolute;
        width: 144px;
        height: 25px;
        left: 159px;
        top: 75.04px;
        @mixin form;
        @mixin atLarge {
            width: 159px;
        }
        &:focus {
            @mixin focus;
        }
    }
    &_form4 {
        position: absolute;
        width: 201px;
        height: 25px;
        left: 25px;
        top: 104.04px;
        @mixin form;
        &:focus {
            @mixin focus;
        }
    }
    &_3 {
        position: absolute;
        width: 23.91px;
        height: 23.18px;
        left: 285px;
        top: 105px;
        @mixin atLarge {
            top: 103.03px;
            left: 357px;
        }
    }
}