.wrapper {
    max-width: 320px;
    margin: 0 auto;
    @mixin atMedium {
        max-width: 750px;
    }
    @mixin atLarge {
        max-width: 1190px;
    }
    &--footer {
        max-width: 320px;
        margin: 0 auto;
        @mixin atLarge {
            max-width: 1160px;
        }
    }
    /* Wrapper for mobile Ul list items */
    &--ul {
        max-width: 245px;
        margin: 0 auto;
    }
}